<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Acme&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap">

<h3 id="dailyHeader">Daily Activities:</h3>
<div class="daily">
    <label>Cardio Workout <input type="checkbox" name="cardioWorkout"/></label><br>
    <label>Strength Workout <input type="checkbox" name="strengthWorkout"/></label><br>
    <label>No Screen Time (at least 30 min) <input type="checkbox" name="noScreenTime"/></label><br>
    <label>Creative Outlet <input type="checkbox" name="creativeOutlet"/></label>
</div>