#morningHeader {
    font-family: "Acme";
    font-size: 26px;
    background: rgb(219,112,147);
    color: rgb(253,245,230);
    border-radius: 5px;
    width: 400px;
    padding: 8px;
    margin-bottom: 0px;
}

.morning {
    font-family: "Architects Daughter";
    font-size: 22px;
    background: rgb(253, 162, 175);
    color: rgb(253,245,230);
    border-radius: 5px;
    width: 400px;
    padding: 8px;
    margin-top: 0px;
}
