<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Acme&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap">

<h3 id="morningHeader">Morning Routine:</h3>
<div class="morning">
    <label>Record Wake Up Time <input type="checkbox" name="wakeUpTime"/></label><br>
    <label>Read Daily Affirmation <input type="checkbox" name="affirmation"/></label><br>
    <label>Read Daily Articles <input type="checkbox" name="articles"/></label><br>
    <label>Make Coffee <input type="checkbox" name="coffee"/></label><br>
    <label>Mind Map <input type="checkbox" name="mindMap"/></label><br>
    <label>Stretch <input type="checkbox" name="stretch"/></label><br>
    <label>Meditate &/OR Music <input type="checkbox" name="meditateMusic"/></label><br>
    <label>To Do List <input type="checkbox" name="toDoList"/></label>
</div>